---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Sobre mim"

const aboutMe = {
    name: "Daniel",
    occupation: "Engenheiro de Software",
    county: "Brasil",
    hobbies: ["Leitura", "Tênis", "quebra-cabeças"]
}

const skills = ["dotnet", "sql", "javascript", "c#"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
---
<BaseLayout pageTitle={pageTitle}>
<p>Um pouco sobre mim:</p>
        <ul>
            <li>Nome: {aboutMe.name}</li>
            <li>Profissão: {aboutMe.occupation}</li>
            <li>País: {aboutMe.county}</li>
            <li>Hobbies: {aboutMe.hobbies.join(", ")}</li>
        </ul>

        <p>Algumas de minhas habilidades:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

        {happy && <p>Estou feliz!</p>}
        {finished && <p>Terminei!</p>}
        {goal === 3 ? <p>Minha meta é terminal em 3 dias</p> : <p>Minha meta não é terminal em 3 dias</p>}
</BaseLayout>