---
import BaseLayout from "./BaseLayout.astro";
import { Image } from 'astro:assets';
import type { ImageMetadata } from "astro";

const { frontmatter } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif,webp}');
const videos = import.meta.glob<{ default: string }>('/src/assets/*.{mp4,webm}', { eager: true });

const coverUrl = frontmatter.image?.url;
const isVideo = coverUrl && (coverUrl.endsWith('.mp4') || coverUrl.endsWith('.webm'));

if (coverUrl && !isVideo && !images[coverUrl]) {
    throw new Error(`A imagem "${coverUrl}" não foi encontrada no projeto!`);
}
if (coverUrl && isVideo && !videos[coverUrl]) {
    throw new Error(`O vídeo "${coverUrl}" não foi encontrado no projeto!`);
}
---
<BaseLayout pageTitle={frontmatter.title}>
    
    {coverUrl && !isVideo && images[coverUrl] && (
        <Image src={images[coverUrl]()} alt={frontmatter.image.alt || ''} class="cover-image"/>
    )}
    {coverUrl && isVideo && videos[coverUrl] && (
        <video src={videos[coverUrl].default} autoplay loop muted playsinline class="cover-image"></video>
    )}

    Desenvolvido por {frontmatter.author}
    <br />
    Publicado em {frontmatter.pubDate.toString().slice(0,10)}
    <p>{frontmatter.description}</p>
    {frontmatter.tags.map((tag: any) => <li>#{tag}</li>)}
    <slot />
</BaseLayout>

<style>
.cover-image {
    width: 100%;
    /* width: 50vw;
    max-width: 70vw; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* height: 400px; */
    object-fit: cover;
    border-radius: 0;
}

li {
    display: inline;
    margin-right: 10px
}
</style>